<div class="d-flex flex-column vh-100 scrols">
    <!-- Header -->
    <span>
        <app-header></app-header>
    </span>

    <!-- Main container -->
    <div class="d-flex flex-grow-1">
        <!-- Sidebar start-->
        <app-sidebar></app-sidebar>
        <!-- Sidebar end-->
        <!-- Main content start-->
        <div class="flex-grow-1 p-3">
            Main content that resizes properly
        </div>
        <!-- Main content end-->
    </div>

    <!-- Footer -->
    <footer class="bg-dark bg-gradient text-white text-center">
        <div><app-footer></app-footer></div>
    </footer>
</div>