.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 
}
.login-form{
   background-color: beige;
   width: 400px;
   height: 400px;
   justify-content: center;
}
.item{
    margin-left: 75px;
    margin-bottom: 30px;
}
.items{
    text-align: center;
}